* {
  font-family: 'Pontano Sans', sans-serif;
}

.navbar {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  background-color: #253f4b;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(
    90deg,
    #253f4b,
    #365563 11%,
    #446879 22%,
    #537d90 33%,
    #608da2 44%,
    #779eb2 55%,
    #8eb1c2 66%,
    #acc8d7 77%,
    #c8dfea 88%,
    #eee 100%
  );
}

.nav {
  padding: 5px 7px;
  margin: 5px 15px;
  background-color: #c8dfea;
  border-radius: 15px;
}

#about-nav:link {
  text-decoration: none;
}

#about-nav:visited {
  text-decoration: none;
}

#about-nav:hover {
  text-decoration: none;
}

#about-nav:active {
  text-decoration: none;
}

#experience-nav:link {
  text-decoration: none;
}

#experience-nav:visited {
  text-decoration: none;
}

#experience-nav:hover {
  text-decoration: none;
}

#experience-nav:active {
  text-decoration: none;
}

#contact-nav:link {
  text-decoration: none;
}

#contact-nav:visited {
  text-decoration: none;
}

#contact-nav:hover {
  text-decoration: none;
}

#contact-nav:active {
  text-decoration: none;
}

#intro-nav:link {
  text-decoration: none;
}

#intro-nav:visited {
  text-decoration: none;
}

#intro-nav:hover {
  text-decoration: none;
}

#intro-nav:active {
  text-decoration: none;
}

.intro {
  text-align: center;
  padding-top: 400px;
  padding-bottom: 400px;
  margin: auto;
}

#project-link {
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
}

#project-hyperlink:link {
  text-decoration: none;
}

#project-hyperlink:visited {
  text-decoration: none;
}

#project-hyperlink:hover {
  text-decoration: none;
}

#project-hyperlink:active {
  text-decoration: none;
}